* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #1A0B2E;
}


/*      sehar style */

.btn {
  background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
  border: none;
  border-radius: 15px;
  width: fit-content;
  color: white;
  padding: 5px;
}

.gredent {
  background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
  color: transparent;
  background-clip: text;

}

.col {
  color: #00FF88;
  font-size: large;

}

/* nav bar style */
.nav-bar {
  display: flex;
  justify-content: space-around;
  margin: 30px auto;
  align-items: center;
  color: white;
  /* border: solid red 1px; */
}

.nav-ab {
  display: flex;
  list-style: none;
  gap: 20px;
  font-size: small;
}

/* hero section */


.hero-section {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(images/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  padding: 50px;
}

.m-img {
  background-image: url(images/hero-circle.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 250px;
  height: 250px;
  margin: 25px auto;
  border-radius: 100%;

}

.m-img img {
  background: none;
  margin-top: 30px;
  width: 100px;

}

.new {
  margin-top: -180px;
  margin-right: 50px;
  margin-left: 140px;
  background-color: green;
  border-radius: 10px;

}

.hero-down {
  margin: -0px auto 10px auto;
  color: white;
  background: none;

}

.hero-down h1,
p {
  margin-bottom: 15px;
}

.hero-down h1 {
  font-weight: bolder;
  font-size: 3rem;
  background: none;

}

.hero-down p {
  font-weight: bold;
  font-size: small;
  background: none;

}

.hero-btn {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background: none;


}

.hero-btn .btm {
  color: green;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid green;
}

.hero-btn img {
  width: 10px;
  height: 10px;
  background: none;
}


/* main ar about section */




.main-about {
  width: 71%;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 50px auto;
  color: white;

}

.main-about h2 {
  font-size: xx-large;
  margin-bottom: 10px;
}

.main-about p {
  font-size: small;
  line-height: 25px;
}


.main-about-dw {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: white;
  margin: 50px auto;
  /* border-top: #7c50b5 1px solid; */
}

.main-about-dw h3 {
  font-size: xx-large;
  margin-bottom: 20px;
  color: #00FF88;
}

.main-about-dw p {
  font-size: small;
}


/* gride section designe */

.main-why-choose h4 {
  display: grid;
  color: white;
  justify-content: center;
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
}


.grid-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 71%;
  justify-content: center;
  margin: 20px auto;
  gap: 10px;
  padding: 15px;

}




.box-1,
.box-2,
.box-3,
.box-4,
.box-5 {
  padding: 20px;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #351165;
  border-radius: 8px;

}

.five {
  background: none;
  font-size: 1.5rem;
  font-weight: bolder;
}

.box-1 {
  grid-row: span 2;

}

.box-2,
.box-3,
.box-4 {
  grid-column: span 2;

}


/* mainsection future episod */

.future-ep {
  background-color: #1A0B2E;
}

.future-ep h4 {
  display: grid;
  color: white;
  justify-content: center;
  font-size: xx-large;
  margin-top: 30px;


}



.future-cart {
  width: 71%;
  display: flex;
  margin: 0 auto;
  gap: 7px;
  padding: 0px auto;
}

.future-cart div {

  padding: 15px;
  background-color: #250D44;
  border-radius: 10px;
  margin: 50px auto;
  color: white;


}

.future-cart div iframe {
  width: 270px;
}

.future-cart div h2,
p,
img {
  background: none;
  text-align: start;
}

.future-cart p {
  font-size: small;
}



/* host section */
.hostt {
  display: grid;
  color: white;
  text-align: center;

}

.hostt h2 {
  font-size: xx-large;
}

.host1 {
  /* background-color: #351165; */
  width: 71%;
  justify-content: center;
  align-items: center;
  margin: 0px auto;



}

.host {
  display: flex;
  text-align: center;
  width: 71%;
  gap: 8px;
  margin: 30px auto;
  padding: 20px;

  color: white;
  line-height: 15px;
  /* background-color: #351165; */
}

.host1 .host div h3,
p {
  background: none;
}


/* footer section */


.footer {
  height: 300px;
  display: grid;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  background-image: url(images/footer-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer h2 {
  background: none;
  font-size: 3rem;
  margin-top: 80px;
}

.footer-icon {
  display: flex;
  gap: 25px;
  align-items: center;
  background: none;
  margin: 0 auto;
  margin-bottom: 60px;



}

.footer-icon p {
  font-size: xx-small;
}





@media screen and (max-width:576Px) {
  .nav-ab {
    display: none;
  }

  .btn {
    display: none;

  }


  .hero-section {
    background-size: contain;
    height: 500px;
    padding: 50px;
  }



  .m-img {
    margin: -140px auto;


  }

  .m-img img {

    margin-top: 30px;
    width: 100px;

  }

  .new {
    margin-top: -180px;
    margin-right: 30px;
    margin-left: 170px;


  }

  .main-about p {
    font-size: small;
    line-height: 10px;
  }


  .main-about-dw {
    max-width: 576px;
    width: 50%;
    flex-wrap: wrap;

  }


  .grid-box {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;

  }

  .future-cart {

    flex-direction: column;
  }

  .host {
    flex-direction: column;

  }

  .host p {
    font-size: small;
    margin-top: 10px;
    text-align: center;
  }

  .footer {
    background-size: contain;

  }



  .footer h2 {

    font-size: 2rem;
    margin-top: 90px;
  }

  .footer-icon {
    max-width: 576px;
    width: 50%;
    flex-wrap: wrap;

    gap: 5px;



  }




}


@media screen and (min-width:576px) and (max-width:992px) {



  .nav-bar img {
    display: none;
  }



  .hero-section {
    background-size: contain;
    height: 500px;
    padding: 50px;
  }



  .m-img {
    margin: -140px auto;


  }

  .m-img img {

    margin-top: 30px;
    width: 100px;

  }



  .grid-box {
    grid-template-columns: repeat(1, 1fr);
    width: 71%;


  }

  .future-cart {

    flex-direction: column;

  }

  .host {
    flex-direction: column;

  }
}

@media screen and (min-width:993px) and (max-width:1900px) {

  .nav-bar img {
    display: none;
  }

}